services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.9
    container_name: milvus-etcd
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_HEARTBEAT_INTERVAL=500
      - ETCD_ELECTION_TIMEOUT=2500
    command: >
      etcd 
      -advertise-client-urls=http://etcd:2379 
      -listen-client-urls=http://0.0.0.0:2379 
      --data-dir /etcd
    volumes:
      - milvus-etcd-data:/etcd
    ports:
      - "2379:2379"
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 30s
      timeout: 10s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: milvus-minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: minio server /minio_data
    ports:
      - "9000:9000"
    volumes:
      - milvus-minio-data:/minio_data
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9000/minio/health/live || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 5

  milvus:
    image: milvusdb/milvus:v2.3.1
    container_name: milvus-standalone
    depends_on:
      etcd:
        condition: service_healthy
      minio:
        condition: service_healthy
    command: milvus run standalone
    ports:
      - "19530:19530"
      - "9091:9091"
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
    volumes:
      - milvus-standalone-data:/milvus/data

volumes:
  milvus-etcd-data:
  milvus-minio-data:
  milvus-standalone-data:
